@import "../../app/variables.scss";

.devMap {
  outline: 1px dashed white;
  border-radius: 8px;

  max-width: 10rem;

  .incomplete {
    background: $red;
    border-radius: 8px;
  }

  .complete {
    background: $bright-green;
    border-radius: 8px;
  }

  .workInProgress {
    background: $yellow;
    border-radius: 8px;
  }

  .version {
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 4rem;
  }

  .description {
    font-size: 1rem;
    padding: 1rem;
  }
}
