@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
@import "./variables.scss";

.screenshot {
  width: 50%;
}

.logo {
  width: 50%;

}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272a6d;
}

header {
  background-color: $bright-green;
  padding: 0 15rem;
  display: flex;
}

a {
  color: white;
  text-decoration: none;
  margin: 1rem 1rem;
}

p {
  color: white;
}

#headerLinks {
  flex-grow: 2;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
}

#headerImage {
  max-height: 2rem;
  align-self: center;
}

#mainSection {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 95%;
  background-color: #0d47a1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  color: lightgrey;
}

section, iframe {
  background-color: rgba(0.8, 0.8, 0.8, 0.7) !important;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: white;
  border-radius: 8px;
  border: 2px solid white;
}

iframe {
  border: 2px solid $bright-green;
  padding: 0;
}

img:hover {
  animation: grow 0.5s forwards;
}

img {
  animation: grow 0.5s reverse;
}

.MuiButton-contained {
  background-color: $bright-green !important;
}

.MuiButton-outlined {
  color: $bright-green !important;
  border: 1px solid $bright-green !important;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes shrink {
  to {
    transform: scale(1.05);
  }
  from {
    transform: scale(1);
  }
}

@media screen and (max-width: 640px) {
  iframe {
    margin: 0;
    width: 95%;
  }

  section {
    background-color: rgba(0.8, 0.8, 0.8, 0.7);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
  }
}

//Animations --------------------------
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes shrink {
  to {
    transform: scale(1.05);
  }
  from {
    transform: scale(1);
  }
}