@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');


.screenshot {
  width: 50%;
}

.logo {
  width: 50%;

}

body{ /*All text*/
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    margin: 0
}

header{

   background-color: rgb(5 206 120);
   padding: 0 15rem;
   display: flex;
}

a {
    color: white;
    text-decoration: none;
    margin: 1rem 1rem;
}

p {
  color: white;
}

#headerLinks
{
    flex-grow: 2;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

#headerImage
{
    max-height: 2rem;
    align-self: center;
}

#mainSection
{
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/DemoIslands_1.png');

    height: 95%;
    background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/DemoIslands_1.png');

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  color:lightgrey;
}


section, iframe {
  background-color: rgba(0.8, 0.8, 0.8, 0.6);
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: white;
  border-radius: 8px;
  border: 2px solid white;
}

iframe
{
  border: 2px solid rgb(5 206 120);
  padding: 0;
}



img:hover {
  animation: grow 0.5s forwards;
}

img {
  animation: grow 0.5s reverse;
}

//Material UI overrides
.MuiButton-contained {
  background-color: rgb(5 206 120) !important;
}

.MuiButton-outlined{
  color:rgb(5 206 120) !important;
  border: 1px solid rgb(5 206 120) !important;;
}

//Animations --------------------------
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes shrink {
  to {
    transform: scale(1.05);
  }
  from {
    transform: scale(1);
  }
}


@media screen and (max-width: 640px) {
  iframe {
    margin: 0;
    width: 95%;
  }

  section {
    background-color: rgba(0.8, 0.8, 0.8, 0.6);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/DemoIslands_1.png');

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  color:lightgrey;
}


iframe
{
  border: 2px solid rgb(5 206 120);
  padding: 0;
}



img:hover {
  animation: grow 0.5s forwards;
}

img {
  animation: grow 0.5s reverse;
}

//Material UI overrides
.MuiButton-contained {
  background-color: rgb(5 206 120) !important;
}

.MuiButton-outlined{
  color:rgb(5 206 120) !important;
  border: 1px solid rgb(5 206 120) !important;;
}

//Animations --------------------------
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes shrink {
  to {
    transform: scale(1.05);
  }
  from {
    transform: scale(1);
  }
}


@media screen and (max-width: 640px) {
  iframe {
    margin: 0;
    width: 95%;
  }

  section {
    background-color: rgba(0.8, 0.8, 0.8, 0.6);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
  }
}