.gameMechanic {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  font-family: "Josefin Sans", sans-serif;
  margin-left: 5rem;
  margin-right: 5rem;
  


  .mechanicText {
    width: 80%;
  }

  img {
    margin-right: 4px;
  }

  @media screen and (max-width: 640px) {
    margin-left: 0;
    margin-right: 0;
  }
}
