.gameMechanic {
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.mechanicText {
  width: 80%;
}

.groupedMechanics {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  color: white;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: 24px;

  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

section {
  margin-top: 0;
}

img {
  margin-right: 4px;
}

@media screen and (max-width: 640px) {

h1 {
  font-size: 16pt;
}

}