.groupedMechanics {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  flex-wrap: wrap;

  font-family: "Josefin Sans", sans-serif;


  h1 {
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 24px;
    text-align: center;

    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  section {
    margin-top: 0;
  }
}
