.pageContainer {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  .screenshot {
    margin-top: 8px;
    width: 20%;
    height: 20%;
  }
  padding-bottom: 1rem;

  h1 {
    text-decoration: underline;
  }

  .gameTitle{
    margin-top: 4px !important;
  }

  .bg {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    div {
      background-color: rgb(178, 184, 202);
    }
    filter: brightness(0.5);
  }
  .bgImg {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(181, 200, 255);
    animation: none;
  }

  .inlineLink {
    margin-left: 6px;
    color: aqua;
  }

  .inlineLink:hover{
    color: rgb(3, 146, 146);
  }

  h1 {
    color: white;
    margin-top: 4rem;
    margin-bottom: 0;
  }

  ul {
    text-align: left;
    margin: 0 20rem;
  }

  @media screen and (max-width: 640px) {
    ul {
      margin: 0 1rem;
    }

    .screenshot {
      width: 100%;
    }
  }
}
