.pageContainer {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;


  .screenshot {
    margin-top: 8px;
    width: 20%;
    height: 20%;
  }

  h1 {
    color: white;
    margin-top: 4rem;
    margin-bottom: 0;
  }

  ul {
    text-align: left;
    margin: 0 20rem;
  }

  @media screen and (max-width: 640px) {
    ul {
      margin: 0 1rem;
    }

    .screenshot {
      width: 100%;
    }
  }
}
