body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  margin: 0;
}

header {
  background-color: rgb(5 206 120);
  padding: 0 15rem;
  display: flex;

  .links {
    display: flex;
  }
}

a {
  color: white;
  text-decoration: none;
  margin: 0.2rem 2rem;
}

.fakeLink {
  margin: 0.2rem 2rem;
}

.logo {
  width: 10%;
}

.logo:hover {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.mobileHeader {
  display: none !important;
}

@media screen and (max-width: 640px) {
  .mobileHeader {
    display: block !important;
    margin-left: -200px !important;
    color: rgb(18, 122, 18) !important;
  }

  header {
    max-width: 100%;
    position: sticky;
    .links {
      display: flex;
      flex-direction: column;
    }

    .logo {
      display: none;
    }
  }

  .hideLinks {
    display: none;
  }
}
