.appHeader {

  header {
    background-color: rgb(5 206 120);
    padding: 0 15rem;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    margin: 0;
    
    .links {
      display: flex;
      align-items: center;
    }
  }

  a {
    color: white;
    text-decoration: none;
    margin: 1.2rem 2rem;
  }
  

  .link:hover, p:hover{
    color: lightgray;
  }

  .currentPageLink {
    margin: 0.2rem 2rem;
  }

  .logo {
    width: 10%;
    height: 10%;
    margin-top: 2px;
    margin-bottom: 2px;
    align-self: center;
  }

  .logo:hover {
    cursor: pointer;
  }

  .underline {
    text-decoration: underline;
  }

  .hamburgerButton {
    display: none !important;
  }

  @media screen and (max-width: 640px) {
    .hamburgerButton {
      display: block !important;
      margin-left: -150px !important;
      color: rgb(18, 122, 18) !important;
    }

    header {
      max-width: 100%;
      .links {
        display: flex;
        flex-direction: column;
      }

      .logo {
        display: none;
      }

      padding: 0 10rem;
    }

    .hideLinks {
      display: none;
    }
  }
}
